body {
    background-color: #f0f8ff; /* Light blue background color */
}
header {
    background-color: #ffebcd; /* Blanched almond background color */
}
footer {
    background-color: #dcdcdc; /* Light blue background color */
}
main {
    background-color: #ffffff; /* Light blue color */
}
nav {
    display: flex;
    justify-content: center;
    background-color: #ffebcd; /* Blanched almond background color */
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-image: url('./images/Jax.jpeg'); /* Updated to local path */
    background-size: cover;
    justify-content: space-around; /* Distribute items evenly */
}
nav ul li {
    margin-right: 10px;
    flex: 1; /* Make each item take equal space */
}
nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center; /* Center the text */
    padding: 10px; /* Add some padding */
}

p {
    color: rgb(135, 135, 209);
}

ul {
    font-family: arial;
}
