body {
    background-color: #f0f8ff; /* Light blue background color */
}
header {
    background-color: #ffebcd; /* Blanched almond background color */
}
footer {
    background-color: #dcdcdc; /* Light blue background color */
}
main {
    background-color: #ffffff; /* Light blue color */
}
nav {
    display: flex;
    justify-content: center;
    background-color: #ffebcd; /* Blanched almond background color */
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}

.logo-image {
    width: 200px;
    height: auto;
}

.rescue-image {
    width: 300px;
    height: auto;
}
